#page-question-type-ddmatch div.editor_atto_content_wrap {
    word-break: break-all;
}

.ddmatch li {
    margin: 0.375rem;
    padding: 0.25rem;
}

.ddmatch li.draghome {
    background-color: white;
    border: 0.06rem solid #908b8b;
    padding: 0.625rem;
    font-size: 0.938rem;
    color: #333;
    line-height:1.25rem;
    cursor: move;
}

.que.ddmatch .draghome.beingdragged {
    z-index: 3;
    box-shadow: 0.188rem 0.188rem 0.25rem #000;
    position: absolute;
    width: 35%;

}

.que.ddmatch .draghome.dragplaceholder {
    display: none;
}

.que.ddmatch .draghome.dragplaceholder.active {
    visibility: hidden;
    display: inline-block;
       margin: 0;
}
li.matchdrag.copy {
    margin: 0.25rem;
}

.que.ddmatch .draghome.placed {
    margin: 0;
    margin-bottom: 0.125rem;
    list-style: none;
}

.que.ddmatch .drop:focus,
.que.ddmatch .drop.valid-drag-over-drop,
.que.ddmatch .draghome.placed:focus:not(.beingdragged),
.que.ddmatch .draghome.placed.valid-drag-over-drop {
    border-color: #0a0;
    box-shadow: 0 0 0.313rem 0.313rem rgba(255, 255, 150, 1);
}

.ddmatch tr {
    word-break: break-all;
}
.ddmatch li.placeholder {
    border: 0.06rem dotted black;
    text-align: center;
}

.ddmatch ul.draghomes {
    border: 0.06rem solid gray;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0.25rem;
    width: 35%;
    max-height:fit-content;
}

.ddmatch .draghomes li {
    list-style:none;
}

.ddmatch .drop {
    display: none;
}
.que.ddmatch .drop.active {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 0.06rem solid #000;
    margin: 0;
    margin-bottom: 0.125rem;
}


.ddmatch .drop li {
    list-style:none;
    box-sizing: content-box;
}

.ddmatch li p {
    display: table-cell;
    vertical-align: middle;
        word-break: break-word;
}

.ddmatch ul.drop {
    border: 0.06rem solid gray;
    padding-left: 0rem;
}
.ddmatch .que .formulation{
    background:#f1f1f1 !Important;
    padding:1.25rem !Important;
}

.ddmatch td.text {
    width: 50%;
    padding:0;
}
.ddmatch td.control {
    width: 85%;
    margin-left: 0.938rem;
    margin-right: 0.938rem;
}

.ddmatch table.answer {
    float: left;
    margin-bottom: 0.5em;
    width: 100%;
}

.ddmatch .correctanswertable {
    margin: 0.625rem;
}

.ddmatch .drop.yui3-dd-drop-active-valid {
    border: 0.125rem dotted red;
}

.ddmatch .drop.yui3-dd-drop-over {
    border: 0.125rem dotted green;
}

.ddmatch .drop .placeholder.hidden {
    display: none;
}

.ddmatch .drop.yui3-dd-drop-over li {
    opacity:0.5;
}

/* Editing form. */
body#page-question-type-ddmatch div[id^=fitem_id_][id*=subquestions_] {
    background: #EEE;
    border: 0.06rem solid #BBB;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.313rem;
    padding-top: 0.313rem;
}

body#page-question-type-ddmatch div[id^=fitem_id_][id*=subquestions_] .fitemtitle {
    font-weight: bold;
}

body#page-question-type-ddmatch div[id^=fitem_id_][id*=subanswers_] {
    background: #EEE;
    border: 0.06rem solid #BBB;
    border-top: 0;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 0.313rem;
    padding-top: 0.313rem;
}
.ddmatch .divanswer {
    max-height: fit-content;
    /* overflow-y:auto; */   /*----it is for scroll question table purpose----*/
    width: 60%;
    float: left;
}
.ddmatch .qtext{margin-bottom:0;}
.ddmatch .qtext p{margin:0;}
.ddmatch .qtext p br{display:none;}
.ddmatch .divanswer .answer .visibleifjs{display:inline-block !important; margin-bottom:5px;}
.ddmatch p{
    font-size: 0.938rem !Important;
    word-break: break-word;
    line-height: 1.25rem;
    color: #333;
}
.ddmatch .text {
    font-size: 0.938rem !Important;
    word-break: break-word;
    line-height: 1.25rem;
    color: #333;
}
@media screen and (max-width: 768px) {
.ddmatch li p{font-size:0.75rem;}
.ddmatch .draghomes li{font-size:0.75rem;}
.ddmatch td.control {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.ddmatch td.text {
    width: 100%;
    padding: 0;
    display: block;
}
}
.ddmatch .drop {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ddmatch ul.draghomes {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.que.ddmatch .draghome.dragplaceholder {
    display: none;
}

.que.ddmatch .draghome.dragplaceholder.active {
    visibility: hidden;
    display: inline-block;
    width: 100%;
}

.dragdrop-choice {
    max-height: 100px;
    overflow: auto;
}

.dragdrop-question h3,
.dragdrop-question p {
    max-height: 100px;
    overflow: scroll;
    background-color: #f9f8fb;
    padding: 0.5rem 1rem;
}

.dragdrop-choice::-webkit-scrollbar,
.dragdrop-question h3::-webkit-scrollbar,
.dragdrop-question p::-webkit-scrollbar {
    width: 0.125rem;
    height: 0.125rem;
}

.dragdrop-choice::-webkit-scrollbar-thumb,
.dragdrop-question h3::-webkit-scrollbar-thumb,
.dragdrop-question p::-webkit-scrollbar-thumb {
    background: #888;
}

.dragdrop-choice::-webkit-scrollbar-track,
.dragdrop-question h3::-webkit-scrollbar-track,
.dragdrop-question p::-webkit-scrollbar-track {
    background: #f1f1f1;
}