.ddmatch li {
    margin: 6px;
    padding: 4px;
}

.ddmatch li.matchdrag {
    background-color: white;
    border: 1px solid #908b8b;
    padding: 10px;
    font-size: 15px;
    color: #333;
    line-height:20px;
}
.ddmatch tr {
    word-break: break-all;
}
.ddmatch li.placeholder {
    border: 1px dotted black;
    text-align: center;
}

.ddmatch ul.matchorigin {
    border: 1px solid gray;
    float: right;
    list-style: none;
    margin: 0;
    padding: 4px;
    width: 35%;
    max-height:380px;
    overflow-y:auto;
}

.ddmatch .matchorigin li {
    list-style:none;
}

.ddmatch .matchtarget {
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ddmatch .matchtarget li {
    list-style:none;
}

.ddmatch li p {
    display: table-cell;
    vertical-align: middle;
        word-break: break-word;
}

.ddmatch ul.matchdefault {
    border: 1px solid gray;
}
.ddmatch .que .formulation{
    background:#f1f1f1 !Important;
    padding:20px !Important;
}

.ddmatch td.text {
    width: 50%;
    padding:0;
}
.ddmatch td.control {
    width: 85%;
    margin-left: 15px;
    margin-right: 15px;
}

.ddmatch table.answer {
    float: left;
    margin-bottom: 0.5em;
    width: 100%;
}

.ddmatch .correctanswertable {
    margin: 10px;
}

.ddmatch .matchtarget.yui3-dd-drop-active-valid {
    border: 2px dotted red;
}

.ddmatch .matchtarget.yui3-dd-drop-over {
    border: 2px dotted green;
}

.ddmatch .matchtarget .placeholder.hidden {
    display: none;
}

.ddmatch .matchtarget.yui3-dd-drop-over li {
    opacity:0.5;
}

/* Editing form. */
body#page-question-type-ddmatch div[id^=fitem_id_][id*=subquestions_] {
    background: #EEE;
    border: 1px solid #BBB;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

body#page-question-type-ddmatch div[id^=fitem_id_][id*=subquestions_] .fitemtitle {
    font-weight: bold;
}

body#page-question-type-ddmatch div[id^=fitem_id_][id*=subanswers_] {
    background: #EEE;
    border: 1px solid #BBB;
    border-top: 0;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.ddmatch .divanswer {
    max-height: 380px;
    overflow-y:auto;
    width: 60%;
    float: left;
}
.ddmatch .qtext{margin-bottom:0;}
.ddmatch .qtext p{margin:0;}
.ddmatch .qtext p br{display:none;}
.ddmatch .divanswer .answer .visibleifjs{display:inline-block !important; margin-bottom:5px;}
.ddmatch p{
    font-size: 15px !Important;
    word-break: break-word;
    line-height: 20px;
    color: #333;
}
.ddmatch .text {
    font-size: 15px !Important;
    word-break: break-word;
    line-height: 20px;
    color: #333;
}
@media screen and (max-width: 768px) {
.ddmatch li p{font-size:12px;}
.ddmatch .matchorigin li{font-size:12px;}
.ddmatch td.control {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.ddmatch td.text {
    width: 100%;
    padding: 0;
    display: block;
}
}
.ddmatch .matchtarget {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ddmatch ul.matchorigin {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}