.ddmatch li {
    margin: 6px;
    padding: 4px;
}

.ddmatch li.matchdrag {
    background-color: white;
    border: 1px solid black;
    height:36px;
}

.ddmatch li.placeholder {
    border: 1px dotted black;
    text-align: center;
}

.ddmatch ul.matchorigin {
    border: 1px solid gray;
    float: right;
    list-style: none;
    margin: 6px;
    padding: 4px;
    width: 35%;
    max-height:380px;
    overflow-y:auto;
}

.ddmatch .matchorigin li {
    list-style:none;
}

.ddmatch .matchtarget {
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ddmatch .matchtarget li {
    list-style:none;
}

.ddmatch li p {
    display: table-cell;
    vertical-align: middle;
}

.ddmatch ul.matchdefault {
    border: 1px solid gray;
}

.ddmatch td.text {
    width: 25%;
    padding:0;
}
.ddmatch td.control {
    width: 75%;
}

.ddmatch table.answer {
    float: left;
    margin-bottom: 0.5em;
    width: 100%;
}

.ddmatch .correctanswertable {
    margin: 10px;
}

.ddmatch .matchtarget.yui3-dd-drop-active-valid {
    border: 2px dotted red;
}

.ddmatch .matchtarget.yui3-dd-drop-over {
    border: 2px dotted green;
}

.matchtarget .placeholder.hidden {
    display: none;
}

.ddmatch .matchtarget.yui3-dd-drop-over li {
    opacity:0.5;
}

/* Editing form. */
body#page-question-type-ddmatch div[id^=fitem_id_][id*=subquestions_] {
    background: #EEE;
    border: 1px solid #BBB;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

body#page-question-type-ddmatch div[id^=fitem_id_][id*=subquestions_] .fitemtitle {
    font-weight: bold;
}

body#page-question-type-ddmatch div[id^=fitem_id_][id*=subanswers_] {
    background: #EEE;
    border: 1px solid #BBB;
    border-top: 0;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.divanswer {
    max-height: 380px;
    overflow-y:auto;
    width: 60%;
    float: left;
}
.qtext{margin-bottom:0;}
.qtext p{margin:0;}
.qtext p br{display:none;}
.divanswer .answer .visibleifjs{display:inline-block !important; margin-bottom:5px;}
@media screen and (max-width: 768px) {
.ddmatch li p{font-size:12px;}
.ddmatch .matchorigin li{font-size:12px;}
.ddmatch li.matchdrag{height:28px;}
}
